@font-face {
  font-family: "OTEnjoystoriesBA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2")
      format("woff2"),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff")
      format("woff"),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf")
      format("opentype");
}
body {
  background-color: #5b2386;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100%;
  max-width: 771px;
  min-width: 330px;
  gap: 70px;
  color: white;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  max-width: 564px;
  min-width: 297px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  color: #f5df4d;
}

.img-wrap {
  position: relative;
  max-width: 564px;
  min-width: 278px;
  margin: 0 auto;
}
.img1 {
  width: 278px;
  height: 54px;
}
.img2 {
  width: 110px;
  height: 110px;
  opacity: 15%;
}
.img-wrap img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

blockquote {
  font-family: "OTEnjoystoriesBA";
  font-size: 22px;
  line-height: 1.6;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 771px;
  min-width: 330px;
  gap: 60px;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  gap: 50px;
}

.intro {
  font-family: "GmarketSansMedium";
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  line-height: 1.6;
  gap: 13px;
  position: relative;
}

strong {
  display: inline;
  font-weight: 700;
}
.intro::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 18px;
  background-image: url(../images/quotes.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: rgba(132, 67, 182, 1);
  margin-right: 1px;
  position: absolute;
  left: -20px;
  top: 30px;
}
.intro::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 18px;
  background-image: url(../images/quotes.png);
  transform: rotate(180deg);
  background-size: cover;
  background-repeat: no-repeat;
  color: rgba(132, 67, 182, 1);
  margin-left: 1px;
  position: absolute;
  right: 0;
  top: 30px;
}

.center-line {
  display: flex;
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 8px;
}

.inline {
  display: inline;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  text-align: center;
}

.inline-input {
  display: inline-block;
  box-sizing: border-box;
  width: 156px;
  height: 38px;
  vertical-align: baseline;
  border-radius: 8px;
  font-size: 14px;
  text-align: center;
  padding: 0;
  gap: 12px;
}

.btn-calc {
  width: 100%;
  min-width: 240px;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 0 30px;
  gap: 10px;
  background: rgba(252, 238, 33, 1);
  box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.15);
  font-family: "GmarketSansBold";
  font-size: 14px;
  font-weight: 700;
  color: #5b2386;
  text-align: center;
  line-height: 1.6;
  position: relative;
}

.btn-calc::after {
  content: "";
  display: inline-block;
  width: 43px;
  height: 48px;
  background-image: url(../images/click.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 30px;
  right: -50px;
}

.result {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
}

.big-bold {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.6;
  vertical-align: -10%;
}

.btn-box {
  display: flex;
  gap: 8px;
}

.btn-prim {
  border-radius: 12px;
  background: rgba(252, 238, 33, 1);
  padding: 16px 24px;
  box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.15);
  font-size: 14px;
  font-weight: 700;
  color: rgba(91, 35, 134, 1);
}

.btn-share {
  max-width: 193px;
  min-width: 102px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 1);
  padding: 16px 20px;
  box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.15);
  font-size: 14px;
  font-weight: 500;
  color: rgba(91, 35, 134, 1);
}

footer {
  display: flex;
  flex-direction: column;
  font-family: "Noto Sans KR";
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 9px;
  gap: 12px;
}
.logo {
  width: 124px;
  height: 28px;
}

.overlay {
  width: 330px;
  height: 500px;
  display: none; /* on:flex, off:none */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 41px 40px;
  background-color: white;
  box-shadow: 4px 4px 30px 0px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 20%;
  right: inherit;
}

.container-overlay {
  width: 250px;
  height: 418px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.text-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "OTEnjoystoriesBA";
  color: rgba(91, 35, 134, 1);
}

.back-img {
  width: 240px;
  height: 188px;
}

.title {
  font-size: 64px;
  font-weight: 400;
  line-height: 100%;
  margin: 0;
}
.sub-title {
  font-size: 36px;
  font-weight: 400;
  line-height: 100%;
  margin: 0;
}
.btn-gogo {
  font-family: "GmarketSansBold";
  font-weight: 700;
  font-size: 14px;
  border-radius: 12px;
  border: none;
  background-color: rgba(252, 238, 33, 1);
  box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.15);
  line-height: 1.6;
  width: 251px;
  height: 72px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #5b2386;
}

@media (min-width: 580px) {
  header {
    font-size: 36px;
    gap: 52px;
  }

  .container {
    gap: 160px;
    margin-top: 120px;
  }

  .img1 {
    width: 530px;
    height: 112px;
  }
  .img2 {
    width: 260px;
    height: 264px;
  }

  main {
    gap: 120px;
  }

  .calculator {
    width: 100%;
    gap: 100px;
  }

  .intro {
    font-size: 24px;
  }

  .intro::before {
    width: 36px;
    height: 32px;
  }

  .intro::after {
    width: 36px;
    height: 32px;
  }

  .inline,
  .inline-input,
  .btn-calc,
  .result {
    font-size: 24px;
  }

  .inline-input {
    width: 228px;
    height: 56px;
    gap: 10px;
  }

  .btn-calc::after {
    width: 64px;
    height: 72px;
  }

  .big-bold {
    font-size: 72px;
  }

  .btn-box {
    gap: 12px;
  }
  .btn-prim,
  .btn-share {
    padding: 20px 50px;
    font-size: 24px;
    font-weight: 700;
  }

  footer {
    font-size: 12px;
    gap: 20px;
  }

  .logo {
    width: 168px;
    height: 36px;
  }

  .overlay {
    width: 800px;
    height: 800px;
  }

  .container-overlay {
    width: 508px;
    height: 636px;
    gap: 40px;
  }

  .back-img {
    width: 438px;
    height: 342px;
  }

  .title {
    font-size: 96px;
  }
  .btn-gogo {
    width: 508px;
    height: 64px;
  }
}
